<div class="container">
    <h1>Hi,{{user.username}}</h1>
    <button (click)="backLogin()">Back to Login</button>
    <form>
        <div class="form-group" *ngIf="isinRoom">
            <label for="messageContent">New Message</label>
            <input type="text" [(ngModel)]="messageContent" name="messageContent" id="messageContent"
                class="form-control" />
        </div>
        <div class="form-group">
            <button *ngIf="isinRoom" (click)="chat()" class="btn btn-primary">Chat</button>&nbsp;
            <button *ngIf="!isinRoom" (click)="joinroom()" class="btn btn-primary">Join</button>&nbsp;
            <button *ngIf="isinRoom" (click)="leaveroom()" class="btn btn-primary">Leave</button>
        </div>
        <select [(ngModel)]="roomslist" name="roomslist">
            <option [ngValue]="null">Select Room</option>
            <option *ngFor="let room of rooms">{{ room }}</option>
        </select><br /><br />
        <label for="newroom">New Room</label>
        <input type="text" [(ngModel)]="newroom" name="newroom" id="newroom" class="form-control" />
        <button (click)="createroom()" class="btn btn-primary">Create New Room</button>
    </form>
    <h3>Notices</h3>
    <button (click)="clearnotice()" class="btn btn-primary">Clear Notice</button><br />
    <h3>Chat Message for {{ currentroom }} - {{ numusers }} Active Users</h3>
    <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
    </ul>
</div>