<div class="container">
    <h1>CHAT APPLICATION</h1>
    
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
        <label for="username">Email:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
        <br>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
        </div>
        <button type="submit">Login</button>
    </form>
</div>